{% extends 'base.html' %}

{% block body %} 

<h1>MOMA With Modern Art for Future!</h1>

<div class="about-container">
    <div class="about-image">
        <img src="{{ url_for('static', filename='css/image/MOMA2.jpg')}}" alt="building">
    </div>

    <div class="about-text">
        <h3>Explore Art with Modern Vibes!</h3>
        <p><u>United States, New York</u></p>
        <p>
            Founded in 1929, the Museum of Modern Art (MoMA) in Manhattan is one of the first museums dedicated to modern art. Today, MoMA houses a vast and diverse collection that reflects the development of modern and contemporary art, from late 19th-century European works to present-day film, design, and performance.

What began as a small collection of only a few artworks has grown into an extensive archive, including over 150,000 paintings, sculptures, photographs, and design objects, as well as thousands of films and millions of film stills. In addition, its library and archives preserve hundreds of thousands of books, magazines, and artist records.

MoMA is home to some of the most iconic works in art history, such as Water Lilies by Claude Monet, The Starry Night by Vincent van Gogh, and Les Demoiselles d’Avignon by Pablo Picasso, alongside influential contemporary works by artists like Andy Warhol, Cindy Sherman, and others.
    </div>
</div>

{% endblock %}