{% extends 'base.html' %}

{% block body %} 

<section class="about-section">
    <div class="about-container">
        <div class="about-image">
            <img src="{{ url_for('static', filename='css/image/MOMA2.jpg')}}" alt="MoMA Building">
        </div>

        <div class="about-content">
           <h1 class="about-title">ABOUT</h1>
        <div class="about-text">
            <h3>Explore Art with Modern Vibes!</h3>
                <span class="location-sub">United States, New York</span>
                           
                <div class="description">
                    <p>Founded in 1929, the Museum of Modern Art (MoMA) in Manhattan is one of the first museums dedicated to modern art. Today, MoMA houses a vast and diverse collection that reflects the development of modern and contemporary art.</p>

                <div class="about-extra-image" style="margin: 20px 0;">
                    <img src="{{ url_for('static', filename='css/image/MOMA3.jpg') }}" alt="MoMA Interior" style="width: 100%; border-radius: 8px;">
                </div>

                    <p>MoMA is home to some of the most iconic works in art history, such as <strong>The Starry Night</strong> by Vincent van Gogh and influential contemporary works by artists like Andy Warhol.</p>
                </div>
                
            </div>
        </div>
    </div>
</section>

{% endblock %}